body{ margin: 0 auto;padding: 0 auto; background-color: #FAFAFA;}}
.bg {
  float: left;
  width: 100%;
}
.box {
  float: left;
  width: 100%;
  background-color: white;
  margin-top: 1em;
  border: solid 1px #DBDBDB;
}

.pagecenter {
  float: none;
  width: 100%;
  margin: 0 auto;
  max-width: 25%;
}
.box img {
  padding-left: 5.5em;
  margin-top: 3em;
  margin-bottom: 2em;
}
.input {
  float: left;
  width: 100%;
  text-align: center;
}
.i11 {
  width: 66%;
  padding: 1.4em;
  font-size: 10px;
  background-color: #FAFAFA;
  border: solid 1px #DBDBDB;
}
.i22 {
  width: 66%;
  padding: 1.4em;
  font-size: 10px;
  margin-top: 0.6em;
    background-color: #FAFAFA;
  border: solid 1px #DBDBDB;
}
.button {
  width: 75%;
  margin-top: 1em;
  background-color: #B2DFFC;
  border: solid 1px #B2DFFC;
  color: #FFF;
  padding: 0.5em;
}
.hr {
  width: 73%;
  color: #DBDBDB;
  margin-bottom: 2em;
 
}
.p p {
  color: #385185;
}
.p1 {
  text-align: center;
  color: #385185;
  font-size: 12px;
}
.p1 a {
  text-decoration: none;
}
.input h5 {
  width: 15%;
  margin-left: 11.8em;
  padding: 0em;
  background-color: white;
  position: relative;
  top: 2.4em;
  margin-top: 0em;
  color: #B7B7B7;
  font-size: 12px;
}
/**bgends**/

.sign {
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 1em;
  background-color: white;
  border: solid 1px #DBDBDB;
  font-size: 14px;
  color: #464646;
  padding: 0.6em 0em;
}
.sign span {
  color: #41B0F8;
  text-decoration: none;
}
.sign a {
  text-decoration: none;
}
/**signends**/
.downloads {
  float: left;
  width: 100%;
  margin-top: 0.5em;
}
.download1 {
  float: left;
  width: 50%;
}
.download {
  float: right;
  width: 50%;
}
.downloads p {
  text-align: center;
  font-size: 14px;
}
.imgg {
  width: 79%;
  padding-left: 2em;
}
.immg {
  padding-left: 0.5em;
  width: 79%;
}
/**downloadends**/
.footer {
  float: left;
  width: 100%;
  word-spacing: 0.5em;
  font-size: 14px;
  color: #C3C3C3;
  margin-top: 4em;
  margin-bottom:2em;
}	
.pagecenter1 {
  float: none;
  width: 100%;
  margin: 0 auto;
  max-width: 65%;
}
.footer1 {
  text-align: center;
}